<html>
<head>
    <title>Error</title>
</head>

<body>
    <h1>Error</h1>
    <p> {{ errono }} </p>
    <p> {{ errstr }} </p>
    <p> {{ errfile }}:{{ errline }} </p>
    {# <p> {{ errline }} </p> #}
</body>